body{
    height: 100vh;
}

.body{

}

#navMenu{

}

#panier{

}

@media all and (max-width: 576px){
    .jumbotron h1{
        font-size: 1rem;
    }
    #navMenu{
        text-align: center;
    }
}